/* mass selects */
body {
    padding-top: 20px;
    font-size: 16px;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}
ul {
    list-style-type: none;
    display: flex;
    padding-left: 0;

}

div nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    border-right: 1px black solid;
    border-left: 1px solid black;
    padding: 10px;
    font-size: 16;
}
div nav ul li ul li a {
    font-weight: 600;
    border-right: none;
    border-left: none;
    padding: 0;
    font-size: 14;
}
footer ul {
    display: block;
    color: white;    
}
footer {
    padding: 20px;
    color: white;
}
a {
    width: 514px;
}
h4 {
    margin-top: 0;
}
li a{
    width: 300px;
}

/*---------------*/
/* class selecter */

.about ul li a,
.trust ul li a,
.website ul li a{
    color: white;
    text-decoration: none;
    position: relative;
    left: -40px;
    line-height: 15px;
}
.about ul li a:hover,
.trust ul li a:hover,
.website ul li a:hover{
    color: rgb(160, 157, 157);
}
.about ul li a::before,
.trust ul li a::before,
.website ul li a::before{
    content: "\00BB";
    padding: 6px;
}

.footer{
    display: flex;
    justify-content: center;
    align-content: center;
}
.container_header{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.container_body{
    display: flex;
    flex-direction: column;
    width: 60%;
    align-self: center;
    justify-content: center;
    margin: auto;
}
.searchbar{
   width: 80%;
   height: 5%;
   border-radius: 25px;
}
.fa-life-ring{
    transform: rotate(45deg);
    padding: 10px;
}
.helpline,
.youthline,
.studentline{
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    padding: 20px;
    margin: 0;
    width: 25%;
    height: 50px;
}
.fa-life-ring,
.fa-phone,
.fa-graduation-cap {
    display: block;
    background-color: #412148;
    border-radius: 25px;
    color: white;
    padding: 10px;
    margin-right: 20px;
}
.nav_bar{
    display: flex;
    justify-content: center;
    z-index: 5 !important;
}
.nav-bar ~ ul {
    text-transform: uppercase;

}
.footer,
.nav_bar{
    background-color: #412148;
}
ul li ul {
    display: none;
}
.newsletter{
    width:25%
}
.about,
.trust,
.website {
    width: 33.3%;

}
.con_foot {
    width: 60%;
    justify-content: center;
    flex-direction: row;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn{
    color: white;
    background-color: #ec6708;
    width: 50%;
    height: 40px;
    border-radius: 25px;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}
.btn_2{
    color: white;
    background-color: #ec6708;
    border-color: #ec6708; 
    width: 30%;
    height: 40px;
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}
.btn_2 p {
    position: relative;
    top: -2px;
    cursor: pointer;
}
.fab{
    color: white;
}
.fab:hover{
    color: rgb(160, 157, 157);
}
.header_bar{
    width: 60%;
    display: flex;
    justify-content: center
}
.search{
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    right: 28px;
}
.fit{
    width: 100%;
    display: flex;
    padding-right: 10px;
    align-items: center
}
.background_image{
    background-image: url(https://www.beateatingdisorders.org.uk/uploads/banner/58/04-03-2019-10-06-10-ksral.jpg);
    box-shadow: -200px 0px 300px black inset;
}
.background-image{
    background-image: url(https://www.beateatingdisorders.org.uk/uploads/banner/58/04-03-2019-10-06-15-dvmfq.jpg);
    box-shadow: 200px 0px 300px black inset;
}
.background-image,
.background_image{
    background-size: 100% 415px;
    background-repeat: no-repeat;
    width: 50%;
    height: 415px;
    margin-bottom: 70px;
    z-index: -2;
}
#background {
    display: flex;
}
.infodiv,
.infodiv2{
    width: 50%;
    height: 220px;
    background-size: 100%;
    background-repeat: no-repeat;
}
.infodiv{
    background-image: url(https://www.beateatingdisorders.org.uk/uploads/pages/1/home-zYRT.png);
}
.infodiv2{
    background-image: url(https://www.beateatingdisorders.org.uk/uploads/pages/1/home-FS02.jpg);
    position: relative;
    right: 33px;
    width: 365px;
}
.infodivcon{
    display: flex;
}
.information{
    background-color:#972585;
    width: 70%;
}
.informations{
    background-color: #412148;
    width: 343px;
    position: relative;
    bottom: 220px;
    left: 205px;
    height: 220px;
}

.information,
.informations{
    color: white;
}
.int{
    border: 1px solid black;
    width: 100%;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    margin-bottom: 30px;
    height: 220px;
    overflow: hidden;
}
.intle{
    border: 1px solid black;
    width: 100%;
    margin-right: 10px;
    margin-left: 10px;
    /* display: flex; */
    margin-bottom: 30px;
    height: 220px;
    overflow: hidden;
}
.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    top: 45px;
    left: 0px;
}
.profile_cover{
    display: flex;
    width: 100%;
    margin-bottom: 30px;
}
.user{
    width: 50%;
    display: flex;
}
.info_head{
    color: #412148;
    text-decoration: none;
}
.info_head:hover{
    text-decoration: underline;
}
.slick-dots .slick-active button::after {
    content: '';
    position: absolute;
    top: -1px;
    left: 0px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid white;
}
.slick-width{
    width: 33.3%;
    height: 300px;
    display: block;
    margin-bottom: 300px;
}
.bottem{
    width: 33.3%;
    height: 300px;
    display: block;
    margin-bottom: 300px;
}
.slick-boxs{
    display: flex;
    flex-wrap: wrap;
}
.user-row{
    display: flex;
    flex-direction: column;
}
.head-of-overlap{
    position: relative;
    top: -430px;
    left: 150px;
    width: 420px;
}
.text-of-overlap{
    position: relative;
    top: -425px;
    left: 95px;
    width: 363px;
}
.btn-of-overlap{
    position: relative;
    top: -215px;
    left: 155px;
    background-color: white;
    color: #972585;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    width: 215px;
    height: 40px;
    border-radius: 25px;
}
.head-of-pink_overlap{
    display: none;
    position: relative;
    top: -430px;
    left: 150px;
    width: 420px;
    z-index: 4;
}
.text-of-pink_overlap{
    display: none;
    position: relative;
    top: -425px;
    left: 95px;
    width: 363px;
    z-index: 4;
}
.btn-of-pink_overlap{
    display: none;
    position: relative;
    top: -215px;
    left: 155px;
    background-color: white;
    color: #972585;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    width: 215px;
    height: 40px;
    border-radius: 25px;
    z-index: 4;
}
.btn_info{
    border: none;
    background-color: white;
    border-radius: 25px;
    height: 50px;
    position: relative;
    left: 10px;
    text-transform: capitalize;
    font-weight: bold;
    cursor: pointer;
}
.shape{
    width: 80px;
}
.bottem_cover{
    background-color:#db092e ;
    height: 230px;
}
.bottem_layer{
    background-color: #972585;
    height: 230px;
}
.bottem_box{
    background-color: #ec6708;
    height: 230px;
}
.slick{
    height: 500px;
}
.nav_bar nav > ul li ul li a::before{
    content: "\00BB"
}
.highlight{
    color: #412148;
    font-weight: bold;
}
.overlay{
    width: 1px;
    height: 1px;
}
.con_foot2{
    display: flex;
    padding-left: 5px;
}

/* jqueary code */
#cookie{
    background-color: #972585;
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: center;
    padding-top: 20px;
    flex-direction: column;
}
#cookies{
    height: 50px;
    width: 200px;
    border: none;
    background-color: white;
    font-weight: bold;
    border-radius: 25px;
    font-size: 20px;
}
.small{
    display: none;
}.pink_overlay{
    display: none;
    width: 100%;
    background-color: rgba(255, 105, 180, 0.8);
    position: absolute;
    z-index: 3 !important;
    top: 298px;
    height: 366px;
    z-index: 1;
}
.news{
    background-color: #db092e;
    width: 45px;
    position: relative;
    z-index: 1;
    top: 45px;
    left: 296px;
    color: white;
}
.Your_storys{
    background-color: #412148;
    width: 95px;
    position: relative;
    z-index: 1;
    top: 45px;
    left: 245px;
    color: white;
}
.Events{
    background-color: #ec6708;
    width: 55px;
    position: relative;
    z-index: 1;
    top: 45px;
    left: 284px;
    color: white;
}
.purple_btn{
    color:#972585;
  }
  .dark_purple_btn{
      color: #412148
  }
  .red_btn{
      color: #db092e;
  }
  .light_purple_btn{
      color: #972585;
  }
  .origen_btn{
    color: #ec6708
  }
  .donations fieldset,
  .Billing fieldset,
  .Payment fieldset,
  #Delivery_box div fieldset,
  .Gift fieldset,
  .Keeping_in_touch fieldset{
    border: none;
  }
  .uper{
      display: flex
  }
  .uper span{
      padding-right: 15px; 
  }
  #Delivery_box,
  #boxbox,
  .tester {
      display: none;
  }
  .ast{
    color: red;
  }

  /* The side navigation menu */
.stop{
    overflow: hidden
}
.active{
    display: block;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 4; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #412148; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  .side_nav{
      display: flex;
      flex-direction: column;
  }
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
  }
  /* side bars style. */
  #bars {
    display: none;
    cursor: pointer;
    position: relative;
    top: -200px;
    left: 600px;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
  
  /* hides the side nav button till smaller screen */
  .sidenavagation{
      display: none;
  }
  @media (max-width: 980px) {
      .sidenavagation,
      #bars{
        display: inline-block;
      }
  }
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

/* test code section */

/*---------------------*/
/* dropdown code */
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {background-color: #ddd;}
  
.dropdown:hover .dropdown-content {display: block;}
  
.dropdown:hover .dropbtn {background-color: #3e8e41;}
/*---*/

/* media */

@media (max-width: 1250px) {
    .over_oragen {
        left:-870px;

    }
    .searchbar{
        width: 100px;
    }
    .search{
        right: -68px;
        top: -27px;
    }
    .infodivcon{
        flex-direction: column;
    }
    .container_body{
        width: 80%;
    }
    .informations{
        width:100%;
    }
    .con_foot{
        width: 80%;
        flex-direction: column;
    }
    .about,
    .trust,
    .website{
        width: 33.3%
    }
    .newsletter{
        align-self: flex-start;
        width:100%;
    }
    .btn_2{
        width: none;
    }
    .news{
        left: 250px;
    }
    .Your_storys{
        left: 200px;
    }
    .Events{
        left: 240px;
    }

}
@media (max-width: 980px) {
    .over_oragen{
        display: none;
    }
    div[alt=" map location"]{
        display: none;
    }
    .background_image{
        width: 100%;
        box-shadow: none;
    } 
    .pink_overlay,
    .head-of-pink_overlap,
    .text-of-pink_overlap,
    .btn-of-pink_overlap{
        display: block;
    }
    .head-of-pink_overlap{
        top: 0;
        left: 150px;;
        font-size: 50px;
        width: 633px;
    }
    .text-of-pink_overlap{
        top:15px;
        left: 70px;
        width: 902px;
    }
    .btn-of-pink_overlap{
        top: 154px;
        left: 344px;
    }
    .nav_bar{
        display: none;
    }
    .header_bar{
        display: block;
    }
    .con_foot2{
        flex-direction: column;
    }
    .about,
    .trust,
    .website{
        width: 100%;
    }
    .div h3 {
        text-decoration: underline;
    }
    .trust[h3],
    .website[h3]{
        text-decoration: underline;
    }
    .profile_cover{
        flex-direction: column;
    }
    .user{
        width: 100%
    }
    .user-row {
        margin-bottom: 30px;
    }
    .searchbar_cover{
        position: relative;
        bottom: 15px;
        top: 76px;
        left: -553px;
        width: 0;
    }
    input[placeholder="Search..."]{
        width: 571px;
    }
    .fa-life-ring,
    .fa-phone,
    .fa-graduation-cap {
        display: none;
    }
    .fa-search{
        position: relative;
        left: 463px;
    }
    .slick-width{
        flex: 50%;
    }
    .bottem{
        flex: 100%;
    }
    .news{
        left: 295px;
    }
    .Your_storys{
        left: 246px;
    }
    .Events{
        left: 670px;
    }
}

@media (max-width: 750px) {
    .slick-width{
        flex: 100%;
    }
    .text-of-pink_overlap{
        width: 666px;
    }
    .head-of-pink_overlap{
        left: 57px;
    }
    .btn-of-pink_overlap{
        top: 121px;
        left: 263px;
    }
    .news{
        left: 508px;
    }
    .Your_storys{
        left: 460px;
    }
    .Events{
        left: 499px;
    }
    .user{
        flex-direction: column;
        align-items: center;
    }
    .helpline,
    .youthline,
    .studentline{
        display: none;
    }
    .searchbar_cover{
        left: -5px;
        top: 1;
    }
    .header_bar{
        width: 100%
    }
    .fit{
        padding: 0;
    }
    .slick-width{
        margin-bottom: 220px;
    }
    #bars{
        left: 660px;
    }
    .user-row{
        justify-content: center;
        align-items: center;
    }
    .profile-pic{
        justify-content: center;
        position: relative;
        top: -5px;
        left: -70px;
    }
    .user a{
        width: 5px;
    }
    .infodiv{
        display: none;
    }
    .information{
        width: 100%;
    }
    .infodiv2{
        display: none;
    }
    .informations{
        width: 100%;
        left: 0;
        bottom: 0;
    }
    .pink_overlay{
        top: 281px;
    }
}
@media (max-width: 320px){
    .slick-dots{
        width: 35% !important;
    }
    .btn_2{
        width: 40%;
    }
    .container_body{
        width: 97%;
    }
    .fa-search{
        left: 185px
    }
    input[placeholder="Search..."]{
        width: 290px;
    }
    .text-of-pink_overlap{
        width: 247px;
    }
    .head-of-pink_overlap{
        font-size: 25px;
        width: 254px;
    }
    .btn-of-pink_overlap{
        left: 75px;
    }
    .news{
        left: 227px;
    }
    .Your_storys{
        left: 180px;
    }
    .Events{
        left: 220px;
    }
    .searchbar_cover{
        left: 10px;
    }
    .header_bar{
        width: 100%
    }
    .fit{
        padding: 0;
    }
    .slick-width{
        margin-bottom: 220px;
    }
    #bars{
        left: 273px;
    }
    .user-row{
        justify-content: center;
        align-items: center;
    }
    .profile-pic{
        justify-content: center;
        position: relative;
        top: -5px;
        left: -70px;
    }
    .user a{
        width: 5px;
    }
    .infodiv{
        display: none;
    }
    .information{
        width: 100%;
    }
    .infodiv2{
        display: none;
    }
    .informations{
        width: 100%;
        left: 0;
        bottom: 0;
    }
    .pink_overlay{
        top: 267px;
    }
}
/*----*/